<!DOCTYPE html>
<html>
	<head>
		<title>Squeaker</title>
		<style>
			body {
				margin-left: auto;
				margin-right: auto;
				width: 400px;
			}
			h1, h2, form {
				text-align: center;
			}
		</style>
	</head>
	<body>

		{% if not login %}
			<div id="header">
				<a href="{{ url_for('logout') }}">Log out</a>
			</div>
		{% endif %}

		<h1 id="maintitle"><a href="{{ url_for('index') }}">Squeaky Children Society</a></h1>

		<h2 id="subtitle">Daycare for the Brightest Parents of the 21st-Century</h2>

		{% if login %}
			<b style="color:red">WARNING: DO NOT USE A PASSWORD YOU MIGHT NORMALLY USE</b>
			<form name="loginform" action="login" method="POST">
				<table style="margin-left: auto; margin-right: auto;">
				<tr>
					<td>Username:</td>
					<td><input type="text" name="login_username" autocomplete="no"></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" name="login_password" autocomplete="no"></td>
				</tr>
				<tr>
					<td><input type="submit" name="submit_login" value="Log in"></td>
					<td><input type="submit" name="submit_registration" value="Register"></td>
				</tr>
				</table>
			</form>
			<script>document.loginform.login_username.focus();</script>
		{% else %}
			You may want to try some of these:
			<ul>
				<li>{{ '</p><script>alert(\'SQUEAK!!!!\');</script><p>' | escape }}</li>
				<li>{{ '</p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Rubber_Duck.jpg/180px-Rubber_Duck.jpg"><p>' | escape }}</li>
				<li>{{ '</p><script>document.getElementById("maintitle").innerHTML="Annoying Children Society"</script><p>' | escape }}</li>
			</ul>
			<form name="postform" action="post" method="POST">
				<input type="text" name="squeak">
				<input type="submit" name="submit_squeak" value="Squeak">
			</form>

			{% for usr, post in posts %}
				<p><b>{{ usr | safe }}</b> {{ post | safe }}</p>
			{% endfor %}

			<script>document.postform.squeak.focus();</script>
		{% endif %}
	</body>
</html>
